.App {
  text-align: center;
  color: white;
}

.Title{
  color: rgb(140, 196, 60, 0.6);
  border-radius: 3px;
  /* font-style: italic; */
  margin: 20px 20px;
  border-bottom: solid rgb(26, 94, 79);
  font-family: Lato;
  /* float: left; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logout{
  float: right;
}

.leagues{
  padding-right: 10px;
  padding-left: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.TeamRegistration{
 display: inline-block; 
}

.PlayerRegistration{
  display: inline-block;
}

.Registration{
  margin: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
