.App {
  text-align: center;
  color: white;
}

h6{
  padding-top: -10px;
}

h1{
  font-weight: lighter;
  font-family: Lato;
  display: inline-block;
}

h2, h3, h4, h5, h6{
  /* font-weight: lighter; */
  font-family: Lato;
}

.Title{
  color: rgba(37, 45, 121, 0.7);
  /* font-style: italic; */
  padding: 10px 10px;
  /* background: rgb(31, 146, 65, 0.7); */
  background: rgb(255, 255, 255, 0.2);
  border-bottom: solid rgb(26, 94, 79);
  font-weight: lighter;
  font-family: Lato;
  top: 0px;
  display: inline-block;
  min-width: 100%;
}

Button{
  display: inline-block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logout{
  float: right;
}

.leagues{
  padding-right: 10px;
  padding-left: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.TeamRegistration{
 display: inline-block; 
}

.PlayerRegistration{
  display: inline-block;
}

.Registration{
  margin: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
