/* MAA colors rgb(0, 174, 239); rgb(140, 196, 60); */

label{
    margin-top: 10px;
}

select :enabled{
    border: none;
}

h5{
    text-decoration: underline;
}

.login{
    /* background: linear-gradient(rgb(31, 146, 65, 0.8) 80%,rgba(27, 88, 52, 0.7)); */
    /* background-image: linear-gradient(rgba(79, 98, 105, 0.8) 10%,rgba(30, 94, 146, 0.8)); */
    /* border: solid 6px rgb(162, 202, 193); */
    /* background: rgb(31, 146, 65); */
    color: rgb(162, 202, 193);
    margin: 30px 30px 30px 30px; /* Top right bottom left */
    padding: 5%;
    text-align: left;
    width: 50%;
    max-width: 50%;
    position: absolute;
    left: 24%;
    
}

select{
    padding: 3px 5px;
    margin: 10px;
    background: rgb(0, 174, 239, 0.5);
    color: white;
    border: solid 1px rgb(27, 72, 88);
}
Button{
    margin: 5px;
}
.TeamRegistration{
    /* background: rgb(140, 196, 60, 0.9); */
    /* background-image: linear-gradient(rgb(27, 72, 88) 10%,rgba(70, 94, 37, 0.9)); */
    border: solid 6px rgb(162, 202, 193);
    color: rgb(162, 202, 193);
    border-radius: 5px;
    margin: 30px 30px 30px 30px; /*Top right bottom left*/
    padding: 2%;
    text-align: left;
    max-width: 500px;
    position: sticky;
    /* display: inline-block; */
    flex-grow: 1;
}

label {
    /* width: 100px; */
    /* text-align: right; */
    font-weight: bold;
  }

.slider {
    -webkit-appearance: none;
    max-width: 90%;
    height: 25px;
    margin: 0px 10px;
    padding: 5px 5px;
    background: rgb(162, 202, 193);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
}

.slider:-moz-range-thumb{
    background: #4CAF50;
    cursor: pointer;
    width: 25px;
    height: 20px;
}

.PlayerRegistration{
    background-image: linear-gradient(rgb(27, 72, 88) 10%,rgba(70, 94, 37, 0.9));
    border: solid 6px rgb(162, 202, 193);
    color: rgb(162, 202, 193);
    border-radius: 5px;
    margin: 30px 30px 30px 30px; /* Top right bottom left */
    padding: 5%;
    text-align: left;
    max-width: 500px;
}

.Registration{
    border: solid 6px rgb(162, 202, 193);
    color: rgb(162, 202, 193);
    border-radius: 5px;
    margin: 30px 30px 30px 30px; /*Top right bottom left*/
    padding: 2%;
    text-align: left;
    max-width: 500px;
    position: sticky;
    flex-grow: 1;
}

.error{
    color: orange;
    padding: 10px;
    float: right;
}

input{
    display: block;
    max-width: 90%;
    border-radius: 5px;
    background: rgb(162, 202, 193);
    margin: 0px 10px;
    padding: 5px 10px;
    width: 90%;
}
hr{
    background: rgba(27, 88, 52, 0.7);
    border-radius: 50px;
}
