hr{
    background: rgba(27, 88, 52, 0.7);
    border-radius: 50px; 
    width: 100%;
}

.List{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.List Button{
    flex-grow: flex;
    width: 100%;
}

.Container{
    border: solid 6px rgb(162, 202, 193);
    color: rgb(162, 202, 193);
    border-radius: 5px;
    margin: 30px 30px 30px 30px; /*Top right bottom left*/
    padding: 2%;
    text-align: left;
    max-width: 50%;
    position: sticky;
    flex-grow: 1;
    width: 100%;
}

.Panel{
    /* position: absolute; */
    margin: 0% 10%;
    display: flex;
    flex-direction: row;
}