/* MAA colors rgb(0, 174, 239); rgb(140, 196, 60); */

input{
    margin: 5px; 
}
select :enabled{
    border: none;
}

h5{
    text-decoration: underline;
}

select{
    padding: 3px 5px;
    margin: 10px;
    background: rgb(0, 174, 239, 0.5);
    color: white;
    border: solid 1px rgb(27, 72, 88);
}
Button{
    margin: 5px;
}
.loginUser{
    /* background: rgb(140, 196, 60, 0.9); */
    background-image: linear-gradient(rgb(27, 72, 88) 10%,rgba(70, 94, 37, 0.9));
    border: solid 6px;
    color: white;
    border-radius: 50px;
    margin: 30px 30px 30px 30px; /* Top right bottom left */
    padding: 5%;
    text-align: left;
    max-width: 500px;
    position: sticky;
}


input{
    /* float: right; */
    display: block;
    max-width: 90%;
    /* background: rgb(0, 174, 239, 0.5); */
    /* color: rgba(250,250,250); */
    border-radius: 5px;
}
hr{
    background: rgb(0, 174, 239);
    padding: 2px;
    border-radius: 50px;
}
label{
    font-weight: bold;
}
