.Navigation{
    /* background: rgb(140, 196, 60, 0.6); */
    background: linear-gradient(rgba(71, 196, 60, 0.8) 90%, rgba(0,0,0, 0.9));
    border-radius: 3px;
    padding: 10px 10px;
    margin: 10px 100px;
    display: flex;
}
.labelTitle{
    background: rgba(0,0,0,0.5);
    border-radius: 50px;
    padding: 5px;
    text-decoration: underline;
}
p{
    color: rgb(124, 12, 12);
    padding: 10px;
}
.leagues{
    /* display: block;  */
    flex-grow: 1;
}
Button{
    flex-grow: 1;
}